* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 80px 200px;
  text-align: justify;
  font-size: 18px;
  height: 86.6vh;
  background-color: #FFFEF6;
  color: rgba(0, 0, 0, 0.78);
}

main .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .info img {
  border: 1px solid rgba(0, 0, 0, 0.78);
  box-shadow: 5px 5px #7E689A,
    5px 5px 0 1px rgba(0, 0, 0, 0.78);
}

main .info .ref {
  width: 45%;
  height: 100%;
}

ul {
  list-style-position: inside;
}

span {
  font-weight: bold;
}