footer {
  background-color: #EAAFC8;
  border-top: 1.5px solid #7E689A;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px 5px;
  position: absolute;
  bottom: 0;
}

footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22%;
}

footer img {
  height: 2.5vh;
}