.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1vw;
  height: 676px;
  width: fit-content;
  color: rgba(0, 0, 0, 0.78);
}

.dog {
  object-fit: cover;
  width: 260px;
  height: 203px;
  border: 2px solid rgba(0, 0, 0, 0.78);
  border-radius: 3px;
}

.dogclick {
  object-fit: cover;
  width: 260px;
  height: 203px;
  border: 2px solid rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  box-shadow: 8px 8px #7E689A,
    8px 8px 0 1.5px rgba(0, 0, 0, 0.78);
}

.cat {
  object-fit: cover;
  width: 260px;
  height: 203px;
  border: 2px solid rgba(0, 0, 0, 0.78);
  border-radius: 5px;
}

.catclick {
  object-fit: cover;
  width: 260px;
  height: 203px;
  border: 2px solid rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  box-shadow: 8px 8px #7E689A,
    8px 8px 0 1.5px rgba(0, 0, 0, 0.78);
}

.dog:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.dogclick:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.cat:hover {
  cursor: pointer;
  filter: brightness(1.05);
}

.catclick:hover {
  cursor: pointer;
  filter: brightness(1.05);
}